<div class="welcome-container mat-elevation-z4">
  
  <mat-icon aria-hidden="false" aria-label="Medical icon">local_hospital</mat-icon>
  <h1>Bienvenido a Clínica Online</h1>
  <p class="subtitle">Su portal de salud digital.</p>
  
  <nav class="button-group">
    
    <button 
      mat-raised-button 
      color="primary" 
      [routerLink]="['/login']">
      <mat-icon>login</mat-icon> Iniciar Sesión
    </button>
    
    
    <button 
      mat-raised-button 
      color="accent" 
      [routerLink]="['/registro']">
      <mat-icon>person_add</mat-icon> Registrarse
    </button>
  </nav>
</div>